body{display: block;
text-align: center;
background: aquamarine;
}

section{display: inline-block;

}

.false{position: absolute;
    margin: -50px;
    height: 250px;
    background: black;
}

button{width: 100px;
height: 300px;
background: antiquewhite;
}

