body{
    background: aquamarine;
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{list-style: none};

section{
    display: inline-block;
}

button{
    border: 3px solid yellowgreen;
    background: yellow;
    border-radius: 10px;
}

.error{
    background: red;
}

.esconder{
    display: none;
}