body{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
section>button{
    background-color: rgb(253, 229, 11);
    color: rgb(0, 0, 0);
    border: 5px;
    border-color: black;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.list-group-item {
    padding: 10px;
    margin-top: 5px;
    background-color: blanchedalmond;
    color: brown;
}

.mymenu{
    background-color: brown !important;
}
article {
    width: 100%;
    text-align: center;
}

.name, .post, .mail, .pass, .repass {
    border: 5px solid black;
    border-radius: 15px;
    padding: 3px;
    background-color: blanchedalmond;
    color: brown;
    border-color: brown;
    margin: 2px;
}
article > form > button {
    margin-bottom: 20%;
    margin-top: 10%;
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    border: 5px;
    border-color: black;
    border-radius: 5px;
}

article{
    margin-bottom: 20%;
}

.myheader{
    background-color: maroon !important;
}

header form.form-inline{
    flex-flow: row;
}

header img {
    width: 40px; height: 50%;
}

button.btn {
    background-color: blanchedalmond;
    color: brown;
    border-color: brown;
}

.mybutton {
    color: blanchedalmond !important;
    border-color: blanchedalmond !important; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    }

footer > div {
    height: 100px;
}

footer img{
    width: 100%;
}

h1{
    border: 5px solid maroon;
    background-color: blanchedalmond;
    color: maroon;
    border-radius: 20px;
    margin-top: 10%;
    display: inline-block;
    padding: 2%;
}

@media screen and (min-width: 320px) and (max-width: 574px)
{
    header form, header button.btn{width: 60%;}
}

.error{
    background: red;
}

.esconder{
    display: none;
}